.filter-flex-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-flex-item {
    flex-basis: calc(50% - 10px);
}

.filter-button-group {
    display: flex;
    gap: 20px;
}

.citizens-header {
    display: flex;
    justify-content: space-between;
}

.create-citizen-button {
    width: 180px;
    height: 62px;
}